@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@config '../../tailwind.config.js';

html {
	background-color: #ffffff;
	transition: background-color 1s ease;
}

html.dark {
	background-color: #262626;
}

@layer utilities {
	/* Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}
